{% extends 'layouts/main.html' %}
{% block title %}Your Analysis{% endblock %}
{% block content %}
<style>
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>

<div class="page-header">
  <h1>Your Analysis</h1>
</div>
<h3>
	Here are your suggested tags for most website hits:
</h3>
<p class="lead">{{taglist}}</p>

<div class="row">
  {% for image in images %}
  	<div class="column">
    	<img src="/static/{{image}}" alt="chart" style="width:100%">
    </div>
  {% endfor %}
</div>


<br>
</br>
<h3>
	In terms of hits, we predict that your article would be in the {{perlist}} of all articles.
</h3>
<p class="lead">Our analysis was {{tagacc}} accurate in predicting your top tags and {{peracc}} accurate in predicting your percentile rank relative to other similar articles from our database.</p>

<br>
</br>
<br>
</br>
{% endblock %}
