{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Apex</h1>
</div>

<div class="lead">
  <h3>Providing awesome and awe-inspiring article analytics since 2019</h3>
</div>

<p class="lead">Our program uses multi-label classification to predict which quartile which quartile of popularity an article is based on its predicted hits as well as what additional tags would optimize these predicted hits.</p>

<p style="text-align:center;">
	<img src="/static/coolthing.png" alt="chart" width=70%>
</p>


<p class="lead">
	This allows the user to predict how popular a potential article would be and how they can potentially improve that popularity. In general, the more tags are better. Articles with the company tag have over 3X the average hits of an article with no tags and articles with the finance tag have over twice the average hits of an article with no tags.
</p>

<p style="text-align:center;">
	<img src="/static/Tags.png" alt="chart">
</p>

<br>
</br>


{% endblock %}