{% extends 'layouts/main.html' %}
{% block title %}Article Analytics{% endblock %}
{% block content %}

<link type="text/css" rel="stylesheet" href="/static/css/textbox.css" />

<div class="page-header">
	<h1>Article Analytics</h1>
</div>
<p class="lead">Please fill out the form below to recieve your article analysis with predicted tags for maximum hits</p>

<form action = "/analysis" method="POST">
<ul class="form-style-1">
    <li><label>Full Name <span class="required">*</span></label><input type="text" name="firstn" class="field-divided" placeholder="First" /> <input type="text" name="lastn" class="field-divided" placeholder="Last" /></li>
    <li>
        <label>Email</label>
        <input type="text" name="email" class="field-long" placeholder="zion.williamson@duke.edu" />
    </li>
    <li>
        <label>Your Article <span class="required">*</span></label>
        <textarea name="message" id="text" class="field-long field-textarea" placeholder="Adrian took 5 L's"></textarea>
    </li>
    <li>
        <input type="submit" value="Submit" />
    </li>
</ul>
</form>

{% endblock %}
